<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Approved Users | McCain Foods Careers</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="header-content">
                <a href="/" class="logo"><img src="McCain%20Foods%20Global%20Corporate%20Website%20_%20McCain.com_files/logo-mccain.png" alt="McCain Logo"></a>
                <nav>
                    <ul id="menu">
                        <li><a href="apply.html">Apply</a></li>
                        <li><a href="profile.html">Profile</a></li>
                        <li><a href="approved-users.html">Approved Users</a></li>
                    </ul>
                </nav>
                <button id="menu-toggle" class="menu-toggle">
                    <img src="/images.svg" class="humberger" />
                </button>
            </div>
        </div>
    </header>

    <main class="container">
        <h1>Approved Users</h1>
        
        <div class="user-list">
            <div class="user-card">
                <h2>John Doe</h2>
                <p>Male, 32 years old</p>
                <a href="/status" class="user-details-link">View Details</a>
                <img src="/home-page-image.jpg" class="user-image">
            </div>
            <div class="user-card">
                <h2>Jane Smith</h2>
                <p>Female, 28 years old</p>
                <a href="profile.html" class="user-details-link">View Details</a>
            </div>
            <div class="user-card">
                <h2>Alex Johnson</h2>
                <p>Male, 35 years old</p>
                <a href="profile.html" class="user-details-link">View Details</a>
            </div>
            <div class="user-card">
                <h2>Emily Brown</h2>
                <p>Female, 30 years old</p>
                <a href="profile.html" class="user-details-link">View Details</a>
            </div>
        </div>
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2023 McCain Foods Limited. All Rights Reserved.</p>
        </div>
    </footer>

    <script src="/script.js"></script>
</body>
</html>