<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Approved Users | McCain Foods Careers</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="header-content">
                <a href="/" class="logo"><img src="McCain%20Foods%20Global%20Corporate%20Website%20_%20McCain.com_files/logo-mccain.png" alt="McCain Logo"></a>
                
               
            </div>
        </div>
    </header>

    <main class="container">
        <h1>Approved Users</h1>
        
        <div class="user-list">
          <% users?.forEach(user => { %>
            <div class="user-card">
              <div>
                  <h3><%= user.name %></h3>
                  <p><%=user.age%> years old</p>
                  <div class="user-details-link">APPROVED</div>
              </div>
              <div>
                  <img src="<%=user.photo%>" class="user-image">
              </div>
            </div>
        <%  }) %>
        </div>
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2024 McCain Foods Limited. All Rights Reserved.</p>
        </div>
    </footer>

</body>
</html>